/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --accent-color: #ff8dcb;
  --heading-color: #ffc2e6;
  --content-heading-color: #353430;
  --text-color: #353430;
  --nav-color: #353430;
  --rec-color: transparent;
  --border-color: #353430;
  --title-heading: #353430;
}

@media (prefers-color-scheme: light) {
  
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #f1b2ce;
    --accent-color: #ff8dcb;
    --heading-color: #ffc2e6;
    --content-heading-color: #353430;
    --text-color: #353430;
    --nav-color: #353430;
    --rec-color: transparent;
    --border-color: #353430;
    --title-heading: #353430;
  }
}
