/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #ff0070;
  --nav-color: #ff0070;
  --heading-color: #db00ff;
  --title-heading: #ff0070;
  --content-heading-color: #000028;
  --text-color: #f1b2ce;
  --rec-color: #ff0070;
  --border-color: #ff0070;
  --outline-color: #ff007066;
}
